*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: aliceblue;
}

header > h1{
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    background-color: rgb(189, 189, 189);
    color: white;
    display: inline-block;
    padding: 10px;
}
menu li:hover{
    background-color: rgba(239, 236, 236, 0.834);
    cursor: pointer;
}

article{
    width: 600px;
    display: block;
    margin: auto;

}