*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body,html{
    background-color: rgb(41, 40, 40);
    
}

header{
    background-color:darkblue ;
}

header > h1{
    color: white;
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: blue;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#burguer:hover{
    background-color:aliceblue;
    color: black;
}

menu{
    display: none;

}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(4, 4, 182);
    color: white;
    text-align: center;
    border-top:2px solid black;
}

menu > ul > li > a:hover{
    background-color: whitesmoke;
    color: rgb(178, 175, 175);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 1.5em;
}